/* reset from https://github.com/cssrecipes/reset/blob/master/lib/button.css */
.button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/* Remove excess padding and border in Firefox 4+ */
.button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

:root {
  --button-border-radius: 3px;
  --button-border-width: 2px;
}

.button {
  cursor: pointer;
  padding: 0 1rem;
  line-height: 2.5rem;
  min-width: 3rem;

  text-align: center;

  font-weight: 100;
  color: #fff;
  background: linear-gradient(160deg, #006bf6, #10e951);

  &:hover {
    color: #08b09b;
    background: #fff;
  }

  /*
    border-image does not allow border-radius...
  border: 2px solid;
  border-image: linear-gradient(160deg, #006bf6, #10e951) 1 1;
  */

  /*
    gradient "border-image" clone
    pseudo placed below the button itself
  */
  position: relative; /* pseudo element is absolutely relative to its parent */
  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: calc(-1 * var(--button-border-width));
    bottom: calc(-1 * var(--button-border-width));
    left: calc(-1 * var(--button-border-width));
    right: calc(-1 * var(--button-border-width));

    background: linear-gradient(160deg, #006bf6, #10e951);
    border-radius: var(--button-border-radius);
  }

  /*
    We cannot use the same radius value because it's not what you
    expect. We need to use the radius - the border witdth
  */
  border-radius: calc(var(--button-border-radius) - var(--button-border-width));
}

.huge {
  font-size: 2rem;
  padding: 0 2rem;
  line-height: 5rem;
}
