# macOS crap
.DS_Store

# Node.js / npm
node_modules
npm-debug.log

# code coverage
coverage

# build
lib
.tmp

# tests results
**/__tests__/_output*

# docs
**/docs/**/*.mov
**/docs/**/*.pxm
**/docs/node_modules
**/docs/dist
**/docs/content/assets/showcases/*

# phenomic-theme-base files to work on it
themes/phenomic-theme-base/dist
test-setup

# logo
logo/*.png
