node_modules

# code coverage
.nyc_output

# build
lib

# docs build
docs/node_modules
docs/dist
docs/scripts/statinamic-static.js

# some tests output some files
src/md-collection-loader/__tests__/output/
