*.log

# macOS crap
.DS_Store

# Node.js / npm
node_modules
# we rely on yarn.lock
package-lock.json

# code coverage
coverage

# build
lib
dist

# tests results
**/__tests__/_output*

# docs
**/docs/**/*.mov
**/docs/**/*.pxm
**/docs/public/showcases/entry/*

# logo
logo/*.png

# reason stuff
.merlin
