language: node_js

node_js:
  - '6'
  - '5'
  - '4'

# fail asap when there is a failure
matrix:
  fast_finish: true

before_install:
  - sudo apt-key adv --keyserver pgp.mit.edu --recv D101F7899D41F3C3
  - echo "deb http://dl.yarnpkg.com/debian/ stable main" | sudo tee /etc/apt/sources.list.d/yarn.list
  - sudo apt-get update -qq
  - sudo apt-get install -y -qq yarn

# cache node modules
cache:
  directories:
    - $HOME/.npm
    - $HOME/.yarn-cache
    - node_modules
    - docs/node_modules
    - themes/phenomic-theme-base/node_modules
    - test-setup/node_modules

install:
  - yarn install

script:
  - yarn run test
  - yarn run docs-webpack-2-test
  - yarn run docs-webpack-2-reset

after_success: yarn run coverage
