:root {
  --button-light-color-1: #fff;
  --button-light-color-2: #eef5f8;
  --button-light-color-3: #dfedf2;
  --button-vivid-color-1: #006bf6;
  --button-vivid-color-2: #00aaa5;
  --button-vivid-color-3: #10e951;
}

.button {
  display: inline-flex;
  padding: 0 1rem;
  line-height: 2.5rem;
  min-width: 3rem;
  font-weight: 100;
  text-align: center;
  border-radius: 3px;
  background-size: 3px 100%, 100% 3px, 3px 100%, 100% 3px;
  background-position: 0 0, 0 0, 100% 0, 100% 100%;
  background-repeat: no-repeat;
  text-shadow: none;
}

.light {
  color: #fff;
  background-image:
    linear-gradient(to bottom, var(--button-light-color-1), var(--button-light-color-2)),
    linear-gradient(to right, var(--button-light-color-1), var(--button-light-color-2)),
    linear-gradient(to bottom, var(--button-light-color-2), var(--button-light-color-3)),
    linear-gradient(to right, var(--button-light-color-2), var(--button-light-color-3));

  &:hover {
    color: #08b09b;
    background: linear-gradient(to bottom, var(--button-light-color-1), var(--button-light-color-3));
  }
}

.vivid {
  color: #08b09b;
  background-image:
    linear-gradient(to bottom, var(--button-vivid-color-1), var(--button-vivid-color-2)),
    linear-gradient(to right, var(--button-vivid-color-1), var(--button-vivid-color-2)),
    linear-gradient(to bottom, var(--button-vivid-color-2), var(--button-vivid-color-3)),
    linear-gradient(to right, var(--button-vivid-color-2), var(--button-vivid-color-3));

  &:hover {
    color: #fff;
    background: linear-gradient(160deg, var(--button-vivid-color-1), var(--button-vivid-color-3));
  }
}

.huge {
  font-size: 2rem;
  padding: 0 2rem;
  line-height: 5rem;
}
