/* highlight.js theme */
:global span[class|="hljs"] {
  display: inline;
}

/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

:global .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}

:global .hljs-comment,
:global .hljs-quote {
  color: #998;
  font-style: italic;
}

:global .hljs-keyword,
:global .hljs-selector-tag,
:global .hljs-subst {
  color: #333;
  font-weight: bold;
}

:global .hljs-number,
:global .hljs-literal,
:global .hljs-variable,
:global .hljs-template-variable,
:global .hljs-tag .hljs-attr {
  color: #008080;
}

:global .hljs-string,
:global .hljs-doctag {
  color: #d14;
}

:global .hljs-title,
:global .hljs-section,
:global .hljs-selector-id {
  color: #900;
  font-weight: bold;
}

:global .hljs-subst {
  font-weight: normal;
}

:global .hljs-type,
:global .hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

:global .hljs-tag,
:global .hljs-name,
:global .hljs-attribute {
  color: #000080;
  font-weight: normal;
}

:global .hljs-regexp,
:global .hljs-link {
  color: #009926;
}

:global .hljs-symbol,
:global .hljs-bullet {
  color: #990073;
}

:global .hljs-built_in,
:global .hljs-builtin-name {
  color: #0086b3;
}

:global .hljs-meta {
  color: #999;
  font-weight: bold;
}

:global .hljs-deletion {
  background: #fdd;
}

:global .hljs-addition {
  background: #dfd;
}

:global .hljs-emphasis {
  font-style: italic;
}

:global .hljs-strong {
  font-weight: bold;
}
