/* GLOBAL STYLES, OMG ! */
:global a,
:global a:visited {
  color: inherit;
  opacity: .8;
}

  :global a:hover,
  :global a:focus {
    opacity: 1;
  }

/***/

.wrapper {
  max-width: 50rem;
  margin: auto;
  font-family: system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav {
  font-weight: bold;
}

.footer {
  margin-top: 2rem;
  border-top: 1px solid #ccc;
  padding-top: 1rem;
  font-size: .75rem;

  color: #666;
}
