.footer {
  margin-top: 1rem;
  padding: 1rem;
  font-size: 0.75rem;
  text-align: center;
  color: color(#000 a(0.4));
}

.link {
  color: #08b09b;
  text-decoration: none;
}

.reference {
  font-weight: 100;
}
