.footer {
  margin-top: 2rem;
  text-align: center;
}

.link {
  color: #fff;
  text-decoration: none;
}

.reference {
  font-weight: 100;
}

.separator {
  padding: 1rem;
  color: color(#fff a(0.4));
}
