.callout {
  display: flex;
  flex-direction: column;

  font-size: 0.875rem;
  padding: 1rem;
  margin-bottom: 1.5rem;

  background: color(#fff a(0.2));

  border: 1px solid color(#000 a(0.1));
  border-left-width: 0.2rem;
  border-radius: 3px;
}

.calloutDanger { border-left-color: #d9534f; }
.calloutDanger .calloutTitle { color: #ce4844; }

.calloutWarning { border-left-color: #aa6708; }
.calloutWarning .calloutTitle { color: #4f3004; }

.calloutInfo { border-left-color: #111; }
.calloutInfo .calloutTitle { color: #111; }

.pageActions {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
}
