.list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.item {
  position: relative;
  flex: 1 1 20rem;

  box-sizing: border-box;
  padding: 1rem;
  margin: 2rem 0;
}

.itemLink {
  display: block;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  color: #08b09b;
}

.itemLinkSource {
  font-size: 0.75rem;
  text-decoration: none;
  color: #006df4;
}

.itemTags {
  display: block;
  padding: 0;
  margin-top: 1rem;
}

.itemTag {
  display: inline-block;
  font-size: 0.75rem;
  margin: 0.25rem;
  padding: 0.1rem 0.5rem;
  color: #08b09b;
  background: #fff;
  border-radius: 3px;
}

.itemScreenshotLarge {
  max-width: 100%;
  border: 1px solid color(#000 a(0.1));
  border-radius: 4px;
}

.itemScreenshotSmall {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 20%;
  border: 1px solid color(#000 a(0.1));
  border-radius: 4px;
}

.addYourOwn {
  opacity: 0.4;

  &:hover {
    opacity: 1;
  }
}

.editPage {
  color: #08b09b;
}
