.logo {
  display: block;
  text-align: center;
  padding: 1rem;
}

  .logoImg {
  }

.nav {
  font-weight: 300;
  line-height: 3rem;
}

.separator {
  opacity: .2;
  margin: 0 .8rem;
}

.link {
  opacity: .8;
}

  .link:hover,
  .link:focus {
    opacity: 1;
  }

  .linkActive {
    font-weight: 500;
  }

.icon {
  vertical-align: middle;
}

.version {
  font-size: .8rem;
  font-weight: bold;
}
