/* stylelint-disable block-no-empty */
.header {
  background:
    linear-gradient(
      #fefefe,
      #deecf1
    );
}

.header :global .SVGInline { display: inline-flex; }
.header :global .SVGInline-svg { vertical-align: middle; }

.nav {
  @media (width >= 60rem) {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.logo {
  text-align: center;
}

.logoLink {
  max-width: 12rem;
  display: inline-flex;
}

.internal,
.external {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 2rem;

  text-decoration: none;
}

.link:hover,
.linkActive {
  text-decoration: underline;
}

.linkIcon {
  margin-right: 0.25rem;
}

.version {
  font-size: 0.8rem;
  text-decoration: none;
  color: #08b09b;

  display: inline-flex;

  position: absolute;
  top: 1rem;
  right: 1rem;

  @media (width >= 60rem) {
    top: 5rem;
    padding: 1rem;

    color: #fff;
    opacity: 0.5;
  }
}
