.logo {
  display: block;

  max-width: 40%;
  margin: 1rem auto;
  padding: 1rem;
}

.nav {
  display: flex;
  flex-direction: row;

  font-weight: 300;
  line-height: 3rem;

  border-bottom: 5px solid color(#fff a(.1));
}

.link {
  opacity: .8;
  flex-grow: 1;
  text-decoration: none;
  text-align: center;
}

  .link:hover,
  .link:focus {
    opacity: 1;
  }

  .linkActive {
    font-weight: 500;
  }

  .link:first-child {
    text-align: left;
  }
  .link:last-child {
    text-align: right;
  }

.icon {
  vertical-align: middle;
}

.version {
  font-size: .8rem;
  font-weight: bold;
}
