.logo {
  display: block;

  max-width: 20rem;
  margin: 1rem auto;
  padding: 1rem;
}

@media (width > 50em) {
  .logo {
    /*max-width: 40%;*/
  }
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  font-weight: 300;
  line-height: 3rem;

  border-bottom: 5px solid color(#fff a(.1));
}

.link {
  flex-grow: 1;
  padding: 0 .7rem;
  text-align: center;
  text-decoration: none;
  opacity: .8;
}

  .link:hover,
  .link:focus {
    opacity: 1;
  }

  .linkActive {
    font-weight: 500;
  }

  .link:first-child {
    text-align: left;
  }
  .link:last-child {
    text-align: right;
  }

.separator {
  flex-grow: 2;
  text-align: center;
  opacity: .4;
}

@media (width < 50em) {
  .separator {
    display: none;
  }
}

.version {
  font-size: .8rem;
  font-weight: bold;
}
