.title,
.subtitle {
  font-weight: 400;
}

.callout {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  background: color(#fff a(0.2));
  border: 1px solid color(#000 a(0.1));
  border-left-width: 0.2rem;
  border-radius: 3px;
}

.calloutDanger { border-left-color: #d9534f; }
.calloutDanger .calloutTitle { color: #ce4844; }

.calloutWarning { border-left-color: #0cca79; }
.calloutWarning .calloutTitle { color: #0abd8a; }

.calloutInfo { border-left-color: #111; }
.calloutInfo .calloutTitle { color: #111; }

.pageActions {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
}

.pageActions,
.content {
  & a {
    display: inline-block;
    color: #08b09b;

    &:hover {
      color: #fff;
      background: #08b09b;
      box-shadow: 0 0 0 2px #08b09b;
      border-radius: 0.5px;
    }
  }
}

.content {
  color: #243a53;

  & img {
    max-width: 100%;
  }

  & a > img {
    display: block;
  }
}
