html, body {
  height: 100%;
}

html {box-sizing: border-box}
*, *:before, *:after {box-sizing: inherit}

#PhenomicRoot {
  display: flex;
  min-height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont,
      "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
      "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
}
