.banner {
  position: fixed;
  position: sticky; /* stylelint-disable-line */
  top: 0;
  left: 0;
  right: 0;
}

.banner:empty {
  display: none;
}

.spinner {
  height: 1rem;
  width: 1rem;
  border: 2px solid transparent;
  border-top-color: #fff;
  border-radius: 100%;
  animation: PhenomicDocsAppCacheBannerRotation 0.6s infinite linear 0.25s;
  opacity: 0;
  margin-right: 0.6rem;
}

@keyframes PhenomicDocsAppCacheBannerRotation {
  from {
    opacity: 1;
    transform: rotate(0deg);
  }

  to {
    opacity: 1;
    transform: rotate(359deg);
  }
}

.content {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 0.75rem;
  padding: 0.4rem 0.6rem;
  line-height: 1.4rem;
  background: #1cae69;
  color: #fff;
}

.message {
  display: flex;
  border: 1px solid transparent; /* to fit button border */
}

.actions {
  display: flex;
}

.button {
  display: inline-flex;
  border: 1px solid currentColor;
  border-radius: 3px;
  padding: 0 0.3rem;
  margin-left: 0.6rem;
  cursor: pointer;
}
